*,
*::before,
*::after {
box-sizing: border-box;
}

body, html {
margin: 0;
padding: 0; 
}

body {
  background-color: rgb(8, 69, 150);
}



main {

}

h2 {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: salmon;
}

p {

}

header{
  color: aliceblue;
  background-color: #1886e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.logo-container {

}

.riwi-logo {
  width: 15%;
  
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}


.about-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: auto 1fr;
}

#avatar {
  border-radius: 50%;
  width: 70%;
}

.grid-item1 {
  text-align: center;
  grid-column: 1  /-1;
}

.p-about {
  font-size: 2em;  
}
.grid-item2 {
  place-self: center;
  grid-column: 1 / 2;
}

.grid-item3 {
  justify-self: center;
  grid-column: 2 / 3;
}

.grid-container {

}

.grid-image {

}